.container.title{
  text-align: center;
}

section.hero.is-danger {
  background-color: #ff4351;
}

h1.title {
  font-size: 4rem;
}

ul.menu-list {
  
}

.columns.is-mobile {
  margin-top: 20px;
}

a.button.project {
  color: #ffefef;
  margin-top: 0.6rem;
  background: #ff4351;
  transition: transform 0.2s;

}

a.button.project:hover {
  color: #ffefef;;
  background: #31b6ef;
  transform: scale(1.1,1.1);
  box-shadow: 4px 4px 10px 1px #9e9393
}

p.menu-label {
  font-size: 1.5rem;
}

.modal-card {
  transform: translateY(-500px);
  transition: transform 0.5s;
}

.modal-card.task {
  transform: translateY(-800px);
  transition: transform 0.5s;
}

.modal-card-body.todo {
  background: #ffeb3b;
}

    .inbox {
      max-width:400px;
      margin: auto;
      background:white;
      border-radius:5px;
      box-shadow:10px 10px 0 rgba(0,0,0,0.1);
    }

    .item {
      display:flex;
      align-items:center;
      border-bottom: 1px solid #F1F1F1;
    }

    .item:last-child {
      border-bottom:0;
    }


    input:checked + p {
      background:#F9F9F9;
      text-decoration: line-through;
    }

    input[type="checkbox"] {
      margin:15px;
    }

    p {
      margin:0;
      padding:20px;
      transition:background 0.2s;
      flex:1;
      font-family:'helvetica neue';
      font-size: 20px;
      font-weight: 200;
      border-left: 1px solid #D1E2FF;
    }